.App {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .finnkino-details {
    max-width: 320px;
  }
  .finnkino-details img {
    max-width: 320px;
    margin-bottom: 1rem;
  }
  .finnkino-item {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  .finnkino-item img {
    margin-right: 10px;
  }
  .finnkino-item div {
    flex-direction: column;
  }
  .finnkino-details {
      position: sticky;
      z-index: 1000;
    }
  .rating-img {
    width: auto;
    height: 24px;
    float: right;
  }
  .movie-details {
    max-width: 400px;
  }
  .delete-account {
    max-width: 400px;
  }
  .login-form {
    max-width: 600px;
    top: 50%;
  }
  .register-form {
    max-width: 600px;
  }